$space-wrapper: 50px;

@mixin about-wrapper($bg-color, $fr-color, $position) {
  min-height: 60vh;
  width: 100%;
  display: $position;
  background: $bg-color;
  color: $fr-color;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: $space-wrapper;
  padding-top: $space-wrapper;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  @include about-wrapper(white, black, flex);
}

.wrapper2 {
  @include about-wrapper(black, white, flex);
  .skill-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
}

.wrapper3 {
  @include about-wrapper(white, black, flex);
  min-height: 40vh;
  height: 60vh;
}
