.blogs {
  .wrapper {
    .post-container {
      margin-top: 5rem;
      display: grid;
      place-items: center;
      row-gap: 4rem;
      column-gap: 4rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
