$fr-color: rgba(86, 233, 86, 0.657);
$h-content: max-content;
.card {
  color: black;
  width: 22rem;
  height: 29rem;
  background-size: cover;
  transform: scale(1);
  padding-top: 14.5rem;
  transition: 500ms;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .card-content {
    background: linear-gradient(
      hsl(0 0 0 / 0),
      hsl(20 0 0 / 0.3) 20%,
      hsl(0 0 0 / 1)
    );
    padding: 1.756rem 0;

    .card-title {
      color: $fr-color;
      position: relative;
      width: max-content;
      padding-left: 2rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: $fr-color;
        transform-origin: left;
        transition: transform 500ms ease;
      }
    }
    .card-description {
      margin: 10px;
      color: rgb(255, 255, 255 / 0.85);
      font-size: 1rem;
      margin-bottom: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .button {
      text-decoration: none;
      background-color: $fr-color;
      color: black;
      border-radius: 0.25rem;
      padding: 0.313rem;
      margin-left: 2rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      display: inline-block;
      &:hover,
      &:focus {
        background-color: white;
        border: 0.06rem black solid;
      }
    }
  }
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  .card-title::after {
    transform: scaleX(0);
  }

  .card {
    &:hover {
      transform: scale(1.05);
      .card-content > *:not(.card-title) {
        opacity: 1;
      }
      .card-content {
        transform: translateY(0%);
        transition-delay: 500ms;

        .card-title::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
// .card:hover {
// }

// @media screen and (max-widt:) {
//     .card{
//         .card-title{

//         }
//         .card-description{

//         }
//         .see-more{

//         }
//     }
// }
