$fr-color: rgba(86, 233, 86, 0.657);

@mixin important {
  text-decoration: none;
  color: $fr-color;
  background: rgba(203, 221, 203, 0.315);
}
.contact {
  margin-top: 50px;
  font-size: 1.7rem;
  margin-bottom: 250px;
  padding-bottom: 10px;
  width: 70%;
  .content {
    margin-bottom: 30px;
    a {
      @include important();
    }
    span {
      @include important();
    }
  }
  .content2 {
    span {
      @include important();
    }
  }
}
