$fr-color: rgba(86, 233, 86, 0.657);

@mixin important {
  text-decoration: none;
  color: $fr-color;
  background: rgba(203, 221, 203, 0.315);
}
.contact {
  margin-top: 50px;
  font-size: 1.7rem;
  margin-bottom: 250px;
  padding-bottom: 10px;
  width: 55%;
  .content {
    margin-bottom: 30px;
    a {
      @include important();
    }
    span {
      @include important();
    }
  }
  .content2 {
    span {
      @include important();
    }
  }
}

// /* Large desktop */
@media (max-width: 1500px) {
  .contact {
    width: 50rem;
  }
}

// /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .contact {
    width: 40rem;
  }
}

// /* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .contact {
    width: 30rem;
  }
}

// /* Landscape phones and down */
@media (max-width: 480px) {
  .contact {
    font-size: 1.5rem;
    width: 20rem;
  }
}
