$fr-color: rgba(86, 233, 86, 0.657);

.sub_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;

  .social {
    $scaler: 5rem;
    display: flex;
    a {
      font-size: 3.125rem;
      border: 1px solid white;
      width: $scaler;
      height: $scaler;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      text-decoration: none;
      transform: scale(0.5);
      transition: 0.2s;
      &:hover {
        transform: scale(0.5) translateY(-15px);
        color: $fr-color;
        border: 0.063rem solid $fr-color;
      }
    }
  }

  .copyright {
    font-size: 1rem;
    margin-top: 0.313rem;
    margin-bottom: 1.25rem;
    background: black;
    text-align: center;

    a {
      text-decoration: none;
      color: $fr-color;
    }
  }
}
