$small-interrupt: 960px;
$fr-color: rgba(86, 233, 86, 0.657);

.home {
  position: relative;
  width: 100%;
  min-height: 80%;

  .videoTag {
    width: 100%;
    height: 82vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content_wrapper {
      margin-top: 300px;
      text-align: center;
      h1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        animation: falling;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        /* margin-bottom: 300px; */
      }

      @keyframes falling {
        0% {
          transform: translateY(-500px);
        }
        100% {
          transform: translateY(-25px);
        }
      }

      h2 {
        font-size: 2rem;
        span {
          color: $fr-color;
          font-size: 2.5rem;
        }
        animation: passing;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes passing {
          0% {
            transform: translateX(-1000px);
          }
          100% {
            transform: translateX(0px);
          }
        }
      }
      p {
        animation: passing;
        animation-duration: 3s;
        animation-fill-mode: forwards;

        @keyframes passing {
          0% {
            transform: translateX(-1000px);
          }
          100% {
            transform: translateX(0px);
          }
        }
      }

      button {
        a {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
        }
        font-size: 1.5rem;
        margin-top: 30px;
        text-decoration: none;
        background: transparent;
        color: $fr-color;
        padding: 10px;
        border: 1px solid $fr-color;
        transition: 0.2s;
        opacity: 0;
        animation: appears 3s;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        &:hover {
          transform: translateY(-20px);
        }
        @keyframes appears {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  @media screen and (max-width: $small-interrupt) {
    .content {
      .content_wrapper {
        margin-top: 150px;
        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 1.5rem;
          span {
            font-size: 2rem;
          }
        }
        bottom {
          font-size: 1rem;
        }
      }
    }
  }
}
