$fr-color: rgba(86, 233, 86, 0.657);
$img-size: 400px;

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 30px;

  .image-content {
    margin-right: 50px;
    .image {
      width: 500px;
      height: $img-size;
    }
  }
  .about-text {
    margin-bottom: 150px;
    color: black;
    h4 {
      font-size: 2rem;
      margin-bottom: 10px;
      span {
        color: $fr-color;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }
    p {
      font-size: 1.5rem;
    }

    button {
      margin-top: 50px;
      margin-left: 100px;

      font-size: 2rem;
      border: 1px solid black;
      background: $fr-color;
      text-decoration: none;
      padding: 5px 10px;
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 0.7s ease, babackground-color 0.5s ease;
      }
      &:hover::after {
        width: 100%;
        background: black;
      }

      a {
        text-decoration: none;
        color: black;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .about-content {
    width: 50%;
    flex-direction: column;
    .image-content {
      .image {
        width: 350px;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
    .about-text {
      width: 150%;
      h4 {
        font-size: 1.5rem;
        span {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.25rem;
      }

      button {
        &::after {
        }
        &:hover::after {
          a {
          }
        }
      }
    }
  }
}
