$small-interrupt: 960px;
$fr-color: rgba(86, 233, 86, 0.657);

.navbar {
  background-color: black;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  max-width: 93.75rem;
}

.nav-logo {
  font-size: 2rem;
  background-color: $fr-color;
  color: black;
  padding: 0.313rem 1.563rem;
  line-height: 1.5;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 0.938rem;

  &:hover {
    opacity: 1;
    color: $fr-color;
  }
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  .nav-item {
    &:after {
      content: "";
      display: block;
      height: 0.188rem;
      width: 0;
      background: transparent;
      transition: width 0.7s ease, background-color 0.5s ease;
    }
    &:hover::after {
      width: 100%;
      background: $fr-color;
    }
    .active {
      background: $fr-color;
    }
  }
}

.nav-links {
  padding: 0.625rem;
  text-decoration: none;
  display: inline;
  margin: 0 0.75rem;
  line-height: 3;
  font-size: 1.1rem;
  color: white;
  transition: 0.5s;
  &:hover {
    font-size: 1.18rem;
  }
}
.fa-code {
  margin-left: 1rem;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-logo {
    margin-left: 4rem;
    opacity: 1;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    text-align: center;
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    background: $fr-color;
    border: none;
  }
  .nav-links {
    padding: 0.313rem;
    width: 100%;
    display: table;
    margin: 0;
  }

  .nav-icon {
    display: block;
    position: absolute;
    margin-right: 5rem;
    top: -3.65rem;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 3.8rem;
    cursor: pointer;
    color: $fr-color;
  }
}
