$fr-color: rgba(86, 233, 86, 0.657);

.skill-section {
  margin: 80px 0;
  width: 15vw;
  .skill-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .skill-title {
      color: $fr-color;
      font-size: 1.5rem;
      margin-right: 20px;
      margin-bottom: 3px;
    }
    .skill-bar {
      display: flex;

      align-items: center;
      .skill-number {
        color: $fr-color;
        margin-right: 13px;
      }
      .skill-progress {
        width: 100%;
        .progress {
          position: relative;
          width: 100%;
          height: 4px;
          background: rgba(203, 221, 203, 0.315);
          .inner-progress {
            position: absolute;
            height: 4px;
            // width: 63%;
            bottom: 0;
            left: 0;
            background: $fr-color;
          }
        }
      }
    }
  }
}
