$fr-color: rgba(32, 121, 32, 0.657);

.title {
  position: relative;
  margin-left: 250px;
  font-size: 2rem;
  text-transform: uppercase;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 50px;
  //     height: 5px;
  //     background: black;
  //   }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    background: $fr-color;
  }
  span {
    margin-top: 10px;
    position: absolute;
    font-size: 4rem;
    top: 40%;
    left: 0;
    opacity: 0.5;
    color: $fr-color;
  }
}
