$fr-color: rgba(32, 121, 32, 0.657);

.about-title {
  width: 70%;
  margin-bottom: 90px;

  .title {
    position: relative;
    margin-left: 250px;
    font-size: 2rem;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 5px;
      background: $fr-color;
    }
    span {
      margin-top: 10px;
      position: absolute;
      font-size: 4rem;
      top: 40%;
      left: 0;
      opacity: 0.5;
      color: $fr-color;
    }
  }
}

@media screen and (max-width: 960px) {
  .about-title {
    margin-bottom: 50px;
    .title {
      position: relative;
      margin-left: 0;
      font-size: 1rem;
      left: 0;
      bottom: 0;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 5px;
        background: $fr-color;
      }
      span {
        font-size: 2rem;
      }
    }
  }
}
