@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/layout";
@import "./styles/navbar";
@import "./styles/footer";
@import "./styles/home";
@import "./styles/about";
@import "./styles/title";
@import "./styles/skill";
@import "./styles/imageSelection";
@import "./styles/contact";
@import "./styles/card";
@import "./styles/projects";
@import "./styles/blog";

$global-font: "Poppins", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: $global-font;
  font-size: 1.2rem;
}

// /* Landscape phones and down */
// @media (max-width: 480px) { ... }

// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) { ... }

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) { ... }

// /* Large desktop */
// @media (min-width: 1200px) { ... }
